<h1> All Lil' Twitter Users</h1>
<main role="main">
  <ul class="user_tweet_list">
    <%@tweets.each do |user_tweet| %>
      <li class= "tweet_list">
        <span class="tweet_writer"><%=user_tweet.user.handle%></span>
        <span class="tweet_text"><%=user_tweet.post%></span>
      </li>
    <%end%>
  </ul>
</main>
