<h1> Craigslist Jr</h1>
<h3>Create a new Article</h3>
<!-- change this to fit the twitter bit -->
<form action=<%= "/categories/#{@category_id}/articles" %> method="post">
  <h4>Category: <%= @category_name %></h4>
  <br>
  <label for="name">Title:</label>
  <input type="text" name="name" value=""/>
  <br>
  <label for="price">Price:</label>
  <input type="text" name="price" value=""/>
  <br>
  <label for="description">Description:</label>
  <input type="text" name="description" value=""/>
  <br>
  <label for="contact_info">Phone Number:</label>
  <input type="text" name="contact_info" value=""/>
  <input type= "submit" value= "Add Article!">

  <% if @errors %>
    <%= @errors %>
  <% end %>
</form>

