<h1>Hey! <%= @user.first_name %>! Create a Tweet</h1>
<% if session[:id] == @user.id %>
  <p><a href="/">[ Go Back To Newsfeed ]</a></p>
  <p><a href="/users/<%= @user.id %>">[ Cancel Tweet ]</a></p>

  <form id="new_tweet" action="/users/<%= @user.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <label for="the_tweet">Create New Tweet:<br>
      <input type="text" name="tweet" value="<%= @tweet.post %>">
    </label><br>
    <br>
  </form>
