<!-- This is the user's newsfeed page. They can only access it if they're already logged in-->
<h1>Newsfeed</h1>

<header role="banner">
<!-- add GET buttons for profile page  -->
<a href= <%="/users/#{@user.id}"%> class= "signup button">Profile</a>
<!-- add a GET button to create a tweet -->
<a href= "/tweets/new" class="signup button">Create New Tweet</a>
</header>


<!-- area below have the tweets of the people you follow-->

<main role="main">
  <% @user.feed.each do |tweet| %>
    <div class="individual_answer_comments">
      <span class="tweet_writer"><a href= <%="/users/#{tweet.user.id}"%>> <%=tweet.user.handle%></a></span>
      <span class="tweet_text"><%=tweet.post%></span>
    </div>
  <%end%>
</main>


