<!-- This is the user's newsfeed page. They can only access it if they're already logged in-->

<div class="container">
  <h1>'Lil twitter'.</h1>
<!-- area below have the tweets of the peopel you follow-->
  <ul>

  </ul>
</div>
<!-- add GET buttons for profile page  -->
<!-- add a GET button to create a tweet -->
